{{- define "main" -}}
{{ $banner_img := (resources.Get "home/banner.jpg").Fill "2000x400 Smart jpeg" }}
{{ $avatar_img := (resources.Get "home/avatar.png").Fill "500x500 Center jpeg" }}
<div class="front-container">
    <div class="front-title"
    style="background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('{{ $banner_img.RelPermalink }}');
    background-size:cover;background-position:50%"
    >
        {{ .Title }}
    </div>
    <div class="front-article">
        <div class="front-content">
            {{ .Content }}
        </div>
        {{- $image_options := dict "class" "profile-image" "image" $avatar_img "alt" "banner image" "nolink" true -}}
        {{- partial "resp-image" $image_options -}}
    </div>
</div>
{{- end -}}