{{- define "main" -}}
<article class="tufte-container">
    {{ partial "breadcrumb" . }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}

    <section class="section-pages">
    {{ range (.Paginator 10).Pages }}
        <h2>
            {{- if eq .Type "posts" -}}<p class="date">{{ .Date.Format "2 Jan 2006" }}</p>{{- end -}}
            <a href="{{ .RelPermalink }}">{{ .Name }}</a>
        </h2>
        {{ with .Description }}<p class="subtitle">{{ . }}</p>{{ end }}
    {{ end }}

    <hr>
    {{ template "_internal/pagination.html" . }}
    </section>

</article>
{{- end -}}