{{- define "main" -}}
<article class="tufte-container">
    {{ partial "breadcrumb" . }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{- $requires_section := .Page.Params.section | default "true" -}}
    {{ if $requires_section }}
    <section class="section-pages section-pages-tag">
    <ul>
    {{- range .Pages.ByTitle -}}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Name }}</a><sup>{{ len .Pages }}</sup>
        </li>
    {{- end -}}
    </ul>
    </section>
    {{- end -}}
    {{ partial "pager" . }}
</article>
{{- end -}}