<div id="search-box"></div>
<details>
    <summary>Refinements</summary>
    <div class="details-content">
    <section class="section-pages section-pages-tag">
        <span class="key">Type</span>
        <div id="refinement-list-section"></div>
        <span class="key">Tag</span>
        <div id="refinement-list-tag"></div>
    </section>
    </div>
</details>
<section class="section-pages section-pages-post">
    <div id="hits"></div>
    <div id="pagination"></div>
</section>

<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js" integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js" integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>
{{- $algolia_js := resources.Get "js/algolia.js" | resources.Minify }}
<script src="{{ $algolia_js.RelPermalink }}"></script>
{{- $style_options := (dict "targetPath" "algolia.min.css" "outputStyle" "compressed" "enableSourceMap" true) -}}
{{- $algolia_style := resources.Get "sass/algolia.scss" | resources.ToCSS $style_options -}}
<link rel="stylesheet" href="{{ $algolia_style.RelPermalink }}" />