<script>
  function changeTheme(html, newTheme, button, newIcon, storage=null) {
    if (newTheme === "dark") {
      html.classList.remove("light-theme");
      html.classList.add("dark-theme");
      if (storage) {
        storage.setItem("theme", "dark");
      }
    } else if (newTheme === "light") {
      html.classList.remove("dark-theme");
      html.classList.add("light-theme");
      if (storage) {
        storage.setItem("theme", "light");
      }
    }
    button.style.background = newIcon;
  }

  /* decide if dark mode needs to be set */
  document.addEventListener("DOMContentLoaded", () => {
    const html = document.documentElement;
    const themeButton = document.querySelector(".toggle");
    const darkIcon = "url(/img/icons/brightness_3-white-24dp.svg)";
    const lightIcon = "url(/img/icons/brightness_6-white-24dp.svg)";

    /* check the localStorage first */
    let storage = window.localStorage.getItem("theme");
    switch (storage) {
      case "dark" :
        changeTheme(html, "dark", themeButton, lightIcon);
        break;
      case "light" :
        changeTheme(html, "light", themeButton, darkIcon);
        break;
      default :
        /* then check the system preference */
        let prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
        if (prefersDark) {
          changeTheme(html, "dark", themeButton, lightIcon);
        } else {
          changeTheme(html, "light", themeButton, darkIcon);
        }
    }

    /* Let users toggle the theme */
    themeButton.addEventListener("click", () => {
      if (html.classList.contains("dark-theme")) {
        changeTheme(html, "light", themeButton, darkIcon, window.localStorage);
      } else {
        changeTheme(html, "dark", themeButton, lightIcon, window.localStorage);
      }
    });
  });
</script>
