<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
    
    <meta name="author" content="{{ with .Site.Params.author }}{{ . }}{{ end }}" />
    <meta name="description" content="{{if .IsHome }}{{ $.Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
    <meta name="theme-color" content="#111111" />

    {{/* Google Fonts */}}
    {{- $gfonts_href := "https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;700&family=Exo:wght@600;800&display=swap" -}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" as="style" href="{{ $gfonts_href }}">
    <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="{{ $gfonts_href }}">
    
    {{/* stylesheets */}}
    {{- $style_options := (dict "targetPath" "main.min.css" "outputStyle" "compressed" "enableSourceMap" true) -}}
    {{- $style := resources.Get "sass/main.scss" | resources.ToCSS $style_options -}}
    <link rel="stylesheet" href="{{ $style.Permalink }}" />
    
    {{/* canonical link and title */}}
    <link rel="canonical" href="{{ .Permalink }}" />

    {{- template "_internal/twitter_cards.html" . -}}
    {{- template "_internal/opengraph.html" . -}}

    {{/* handle dark theme */}}
    {{ partial "dark-theme" . }}

    {{/* load MathJax */}}
    {{- if .Params.math -}}
      {{ partial "mathjax" . }}
    {{- end -}}

    {{/* load nerdamer */}}
    {{- if .Params.nerdamer -}}
      {{ partial "nerdamer" . }}
    {{- end -}}

    {{/* Fabicon stuff - realfavicongenerator.net */}}
    {{- partial "fabicon" . -}}
  </head>