<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
    
    <meta name="author" content="{{ with .Site.Params.author }}{{ . }}{{ end }}" />
    <meta name="description" content="{{if .IsHome }}{{ $.Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
    <meta name="theme-color" content="#111111" />

    {{ if .Params.noindex }}
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    {{ end }}

    {{/* Google Fonts */}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    {{/* stylesheets */}}
    {{- $style_options := (dict "targetPath" "main.min.css" "outputStyle" "compressed" "enableSourceMap" true) -}}
    {{- $style := resources.Get "sass/main.scss" | resources.ToCSS $style_options -}}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    
    {{/* canonical link and title */}}
    <link rel="canonical" href="{{ .RelPermalink }}" />

    {{- template "_internal/twitter_cards.html" . -}}
    {{- template "_internal/opengraph.html" . -}}

    {{/* handle dark theme */}}
    {{ partial "dark-theme" . }}

    {{/* load nerdamer */}}
    {{- if .Params.nerdamer -}}
    {{ partial "nerdamer" . }}
    {{- end -}}

    {{/* load Desmos */}}
    {{- if .Params.desmos -}}
    <script src="https://www.desmos.com/api/v1.6/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
    {{- end -}}

    {{/* Fabicon stuff - realfavicongenerator.net */}}
    {{- partial "fabicon" . -}}
  </head>