<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css" integrity="sha384-KiWOvVjnN8qwAZbuQyWDIbfCLFhLXNETzBQjA/92pIowpC0d2O3nppDGQVgwd2nB" crossorigin="anonymous">
<style>
    .katex {
        font-size: 1.1em !important;
        padding-top: 1px !important;
        padding-bottom: 1px !important;
    }
    .enum ~ .katex-display {
        margin: 0.2rem 0 0 0 !important;
    }
    @media screen and (max-width: 1200px) {
        .katex-display {
            overflow-x: auto;
        }
    }
    .katex-highlight {
        color: var(--primary-color) !important;
    }
</style>

<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.js" integrity="sha384-0fdwu/T/EQMsQlrHCCHoH10pkPLlKA1jL5dFyUOvB3lfeT2540/2g6YgSi2BL14p" crossorigin="anonymous"></script>

<!-- To automatically render math in text elements, include the auto-render extension: -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // first render katex
        const runKatex = new Promise( (resolve, reject) => {
            renderMathInElement(document.body, {
                delimiters: [
                    {left: "$$", right: "$$", display: true},
                    {left: "\\begin{equation}", right: "\\end{equation}", display: true},
                    {left: "\\begin{align*}", right: "\\end{align*}", display: true},
                    {left: "\\begin{alignat*}", right: "\\end{alignat*}", display: true},
                    {left: "$", right: "$", display: false}
                ],
                output: "html",
                fleqn: true,
                strict: false,
                ignoredTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
                trust: (context) => context.command === '\\htmlClass',
                macros: {
                  "\\hl": "\\htmlClass{katex-highlight}",
                  "\\blue": "\\textcolor{dodgerblue}",
                  "\\green": "\\textcolor{#228b22}",
                  "\\tcirc": "\\text{\\large \\textcircled{\\small #1}}",
                  "\\scirc": "\\text{\\textcircled #1}"
                }
            });
            resolve();
        });

        // clean the katex-display environments
        runKatex.then( (msg) => {
            document.querySelectorAll("* > span > span.katex-display").forEach( (katexNode) => {
                const nodeWithKatex = katexNode.parentNode.parentNode;
                if (nodeWithKatex.childNodes.length == 1) {
                    nodeWithKatex.parentNode.replaceChild(katexNode, nodeWithKatex);
                } else {
                    nodeWithKatex.replaceChild(katexNode, katexNode.parentNode);
                }
            });
        // clean the katex environments
        }).then( (msg) => {
            document.querySelectorAll("* > span:not(.katex-display) > span.katex").forEach( (katexNode) => {
                const nodeWithKatex = katexNode.parentNode.parentNode;
                nodeWithKatex.replaceChild(katexNode, katexNode.parentNode);
            });
        });
    });
</script>