{{/* recursively render the items in a menu 
    parameters:
        "menu": the key for .Site.Menus
        "list": the list of pages
        "current": the current page (.)
*/}}
{{- $menu_id := .menu }}
{{- $list := .list }}
{{- $current_page := .current }}
{{ range $list }}
  {{- $is_current := $current_page.IsMenuCurrent $menu_id . -}}
  {{/* top items */}}
  <li>
  {{- if .URL -}}
    <a{{ if $is_current }} class="current"{{ end }} href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
  {{- else -}}
    <span{{ if $is_current }} class="current"{{ end }}>{{ .Name }}</span>
  {{- end -}}
  {{/* child items */}}
  {{- if and 
      .HasChildren
      (or 
          ($current_page.IsMenuCurrent $menu_id .)
          ($current_page.HasMenuCurrent $menu_id .)) }}
      <ul>
      {{ partial "menu-item" (dict "menu" $menu_id "list" .Children "current" $current_page) }}
      </ul>
  {{ end }}
  </li>
{{ end }}{{/* end range */}}