{{- $previous_item := "" -}}
{{- $next_item := "" -}}
{{- if eq .Type "posts" -}}
    {{ $previous_item = .PrevInSection }}
    {{ $next_item = .NextInSection }}
{{- else -}}
    {{ $previous_item = .NextInSection }}
    {{ $next_item = .PrevInSection }}
{{- end -}}
<hr>
<div class="pager">
    {{ with $previous_item }}
    <div class="pager-item previous">
        <div class="title-prev">Previous</div>
        <a href="{{ .RelPermalink }}" class="pager-link">{{ .Title }}</a>
    </div>
    {{- end }}
    <div class="pager-filler"></div>
    {{ with $next_item -}}
    <div class="pager-item next">
        <div class="title-next">Next</div>
        <a href="{{ .RelPermalink }}" class="pager-link">{{ .Title }}</a>
    </div>
    {{ end }}
</div>