{{/* Automatically resizes images and generates an srcset of images */}}
{{/* Usage: 
    {{% resp-image image="path" alt="alt text"
        style="optional css style" class="optional css class" location="main|fullwidth|sidenote"
    %}} 
*/}}
{{/* generating images */}}
{{- $default_image := .image.Resize "480x q100" -}}
{{- $webp := .image.Resize (printf "%dx q100 webp" .image.Width) -}}
<source type="image/webp" 
  srcset="{{ $webp.RelPermalink }}" />
<source type="image" 
  src="{{ .image.RelPermalink }}" />
<img 
  width="{{ .image.Width }}" height="{{ .image.Height }}" loading="lazy" decoding="async" 
  {{ with .class -}} class="{{ . }}"{{- end -}}
  {{- with .style -}} style="{{ . | safeCSS }}"{{- end -}}
  alt="{{ .alt }}"
  src="{{ $default_image.RelPermalink }}" />