{{- $current_page := . -}}
{{ $toc_required := .Params.toc | default false }}
{{ $menu_id := "" }}
{{ $menu_required := and (eq .Type "docs") .Params.menu }}
{{ if $menu_required }}
  {{ range $key, $value := .Params.menu }}
    {{ $menu_id = $key }}
  {{ end }}
{{- end -}}
{{/* start render */}}
{{ if or $toc_required $menu_required }}
<aside class="sidenav">
  {{ if $menu_required }}{{/* start of menu */}}
  <details open id="side-menu">
    <summary class="menu-title">Lessons</summary>
    <div class="menu">
      <nav>
        <ul>
        {{ partial "menu-item" (dict 
            "menu" $menu_id
            "list" (index .Site.Menus $menu_id)
            "current" $current_page) }}
        </ul>
      </nav>
    </div>
  </details>
  {{ end }}{{/* end of menu */}}
  {{ if and $toc_required $menu_required }}<hr>{{ end }}
  {{ if $toc_required }}{{/* start of toc */}}
  <details open id="toc-menu">
    <summary class="menu-title">Table of Contents</summary>
    <div class="menu">
      {{ .TableOfContents }}
    </div>
  </details>
  {{ end }}{{/* end of toc */}}
</aside>
{{ end }}