@use "../variables.scss" as *;

.tab-container {
  margin-bottom: 1.5rem;
}
.tab-header {
  font-family: "Source Serif Variable", serif;
  font-size: 0.85rem;
  font-style: italic;
  font-weight: 500 * $dark-mode-correction;

  color: #8b949e;
  background-color: #010203;
}
.tab-header button {
  padding: 0 0.5rem;

  border: 1px solid var(--border-gray);
  border-top-color: transparent;

  background: transparent;

  &:hover {
    background: var(--background-gray);
    color: #c9d1d9;
  }
  &.active {
    background: var(--background-gray);
    color: #c9d1d9;
    border-bottom-color: transparent;
  }
}
.tab-item {
  display: none;
  &.active {
    display: block;
  }
}
