{{/*
  custom code highlighting hook for filename support
  Usage:
    ```python {path="/lib/code.py"}
    print("hello, world!")
    ```
*/}}
{{/* trigger loader */}}
{{ .Page.Scratch.Set "require-codeblock-resources" "true" }}
{{/* parse options */}}
{{ $lang := .Type | default "text" }}
{{ if eq (lower $lang) "html" }}
  {{ $lang = "go-html-template" }}
{{ else if not (transform.CanHighlight $lang) }}
  {{ $lang = "text" }}
{{ end }}
{{ $options := .Options }}
{{ if index .Attributes "path" }}
  {{/* if path is specified then automatically add line numbers */}}
  {{ $options = merge (dict "linenos" "table") $options }}
{{ end }}
{{/* render codeblock */}}
<div class="codeblock">
  {{- with (index .Attributes "path") -}}
    <div class="code-header"><span>{{ . }}</span></div>
  {{- end -}}
  <div class="code-body">
    {{- highlight .Inner $lang $options -}}
  </div>
  {{- $code_text := replace .Inner "\r" "" | safeJS -}}
  <button class="code-copy" title="copy code" onclick="copyText('{{ $code_text }}')">
    <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true"><path d="M28,10V28H10V10H28m0-2H10a2,2,0,0,0-2,2V28a2,2,0,0,0,2,2H28a2,2,0,0,0,2-2V10a2,2,0,0,0-2-2Z"></path><path d="M4,18H2V4A2,2,0,0,1,4,2H18V4H4Z"></path></svg>
  </button>
</div>