<div class="qna-box" id="qna-setting">
  <div id="params">
    {{ .Inner | safeHTML }}
    <label for="nq">Number of questions [1-10]:</label>
    <input type="number" id="nq" min="1" max="10" value="5" />
  </div>
  <button id="gen" onclick="genQs();">Generate</button>
  <button id="reset" onclick="resetQs();">Reset</button>
</div>
<div class="qna-box" id="qna-container">
  <div id="answer-control">
    <em>Click the question to reveal the answer.</em>
    <div id="answer-buttons">
      <button id="reveal-all" onclick="openCloseDetails(true);">
        Reveal All Answers
      </button>
      <button id="hide-all" onclick="openCloseDetails(false);">
        Hide All Answers
      </button>
    </div>
  </div>
  <p id="instructions">Questions will appear here.</p>
  <ol id="questions"></ol>
</div>
