{{/* Usage: 
    {{% figure src="path" id="unique ID for figcaption" caption="figure caption" alt="alt-text"
        style="optional css style" class="optional css class" noresize="turn off auto resizing"
    %}} 
*/}}
{{- $path := .Get "src" }}
{{- $img := resources.Get $path -}}
{{- $alt_text := (.Get "alt" | default (.Get "caption") | default "") -}}
<figure {{ with (.Get "class") }} class="{{ . }}"{{ end }}{{ with (.Get "style") }} style="{{ . | safeCSS }}"{{ end }}>
{{- if (.Get "caption") -}}
{{- $fig_id := .Get "id" | default (path.Base $img.RelPermalink) -}}
<label for="fig-{{ $fig_id }}" class="margin-toggle toggle-with-word">caption</label>
<input type="checkbox" id="fig-{{ $fig_id }}" class="margin-toggle" />
<figcaption class="marginnote">
    {{ .Get "caption" | markdownify | safeHTML }}
</figcaption>
{{- end -}}
{{/* if src is an external URL */}}
{{- if in $path "http" -}}
  <a href='{{ $path }}'><img src='{{ $path }}' alt='{{ $alt_text }}' width="100%" height="auto" /></a>
{{/* if src points to a resource */}}
{{- else -}}
  {{/* if resizing is not necessary */}}
  {{- if or (in $img.RelPermalink "svg") (.Get "noresize") -}}
    <a href='{{ $img.RelPermalink }}'><img src='{{ $img.RelPermalink }}' alt='{{ $alt_text }}' /></a>
  {{/* if resizing is necessary */}}
  {{- else -}}
    {{- $loc := (.Get "loc" | default (.Get "class") | default "main")}}
    {{- $img_options := dict "image" $img "alt" $alt_text "loc" $loc -}}
    {{- partial "resp-image" $img_options -}}
  {{- end -}}
{{- end -}}
</figure>