{{/* Usage: 
    {{% figure src="fig-link" id="fig-id" class="fullwidth" alt="alt-text"
        caption="figure caption"
    %}} 
*/}}
{{- $img := resources.Get (.Get "src") -}}
<figure {{ with (.Get "class") }} class="{{ . }}"{{ end }}{{ with (.Get "style") }} style="{{ . }}"{{ end }}>
{{- if (.Get "caption") -}}
{{- $fig_id := .Get "id" | default (path.Base $img.RelPermalink) -}}
<label for="fig-{{ $fig_id }}" class="margin-toggle toggle-with-word">caption</label>
<input type="checkbox" id="fig-{{ $fig_id }}" class="margin-toggle" />
<figcaption class="marginnote">
    {{ .Get "caption" | markdownify | safeHTML }}
</figcaption>
{{- end -}}
{{- if in (.Get "src") "http" -}}
  <a href='{{ .Get "src" }}'><img src='{{ .Get "src" }}' alt='{{ .Get "alt" }}' width="100%" height="auto" /></a>
{{- else -}}
  {{/* src should point to a resource */}}
  {{- $img := resources.Get (.Get "src") -}}
  {{/* if vector graphics then attach it as is */}}
  {{- if or (in $img.RelPermalink "svg") (.Get "noresize") -}}
    <a href='{{ $img.RelPermalink }}'><img src='{{ $img.RelPermalink }}' alt='{{ .Get "alt" }}' /></a>
  {{- else -}}
    {{- $alt_text := (.Get "alt" | default (.Get "caption") | default "") -}}
    {{- $loc := (.Get "loc" | default (.Get "class") | default "main")}}
    {{- $img_options := dict "image" $img "alt" $alt_text "loc" $loc -}}
    {{- partial "resp-image" $img_options -}}
  {{- end -}}
{{- end -}}
</figure>