{{/* Usage: 
    {{% gallery id="gallery ID" ncols="2" caption="gallery caption" %}} 
      {{% img ... %}}
      {{% img ... %}}
    {{% /gallery %}} 
*/}}
<figure>
    {{- if (.Get "caption") -}}
    <label for='gal-{{ .Get "id" }}' class="margin-toggle toggle-with-word">caption</label>
    <input type="checkbox" id='gal-{{ .Get "id" }}' class="margin-toggle" />
    <figcaption class="marginnote">
        {{ .Get "caption" | safeHTML | markdownify }}
    </figcaption>
    {{- end -}}
    <div class='gallery-container gallery-{{ .Get "ncols" }}'>
    {{- .Inner -}}
    </div>
</figure>