@use "./variables.scss" as *;
@use "./chroma.scss" as *;

/* codeblocks */
.codeblock {
  position: relative;

  margin-bottom: 1rem;

  font-size: 0.85rem;
  line-height: 1.3;
}
.code-header {
  padding: 0.125rem 0 0 0.5rem;

  font-family: "Source Serif Variable", serif;
  font-size: 0.85rem;
  font-style: italic;
  font-weight: 500 * $dark-mode-correction;

  color: #8b949e;
  background-color: #010203;
}
.code-body {
  overflow-x: auto;
  overflow-y: hidden;
}

// horizontal padding without line numbers
.line {
  padding: 0 0.5rem;
}
// horizontal padding with line numbers
.lntable pre {
  padding: 0;

  .line {
    padding-left: 0;
  }
}

// line numbers
.chroma .lntd:first-child {
  position: sticky;
  left: 0;
  // stretch td containing the code
  width: 1%;
}

.code-copy {
  position: absolute;
  top: 0.125rem;
  right: 0.5rem;
  padding: 0.1em;

  color: #8b949e;
  background-color: transparent;
  border: none;

  :hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  :active {
    background-color: rgba(255, 255, 255, 0.4);
  }

  img {
    height: 0.8em;
  }
}
