@use "./variables.scss" as *;

/* FONT SIZE */
html {
  font-size: 18px;

  @include tablet {
    // TODO: make font-size 2.1% of the screen width excluding the scrollbar
    font-size: min(2.1vw, 21.5px);
  }
}

/* DEFAULT STYLES */
html {
  font-family: "Source Serif Variable", serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

body {
  font-size: 1rem;
  hyphens: auto;
  @include font-weight(400);
}

h1 {
  font-size: 1.8em;
  @include font-weight(800);
}

h2 {
  font-size: 1.1em;
  @include font-weight(700);

  margin-top: 1.4em;
  margin-bottom: 0.25em;
}

h3 {
  font-size: 1em;
  @include small-caps;
  @include font-weight(700);

  margin-top: 1.4em;
  margin-bottom: 0.25em;

  h2 + & {
    margin-top: 0;
  }
}

p {
  margin-bottom: 1em;
}

code {
  font-family: "Iosevka Fixed SS04", monospace;
  font-size: 0.91em;
  -webkit-text-size-adjust: 100%;
}

a {
  color: var(--hypertext-color);
  text-decoration: none;

  &:hover {
    color: var(--text-color);
  }
}

// ul,
// ol {
//   list-style-type: none;
//   margin-top: 1.5rem;
//   margin-bottom: 1.5rem;
// }
// :is(ul, ol) li {
//   line-height: 1.5;
// }
// :is(ul, ol) :is(ul, ol) {
//   margin-top: 0;
//   margin-bottom: 0;
// }
