/* serif - normal/it */
@font-face {
  font-family: "Source Serif Variable";
  src: url("/fonts/SourceSerif4Variable-Roman-latin.woff2")
      format("woff2-variations"),
    url("/fonts/SourceSerif4Variable-Roman-latin.woff")
      format("woff-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Serif Variable";
  src: url("/fonts/SourceSerif4Variable-Italic-latin.woff2")
      format("woff2-variations"),
    url("/fonts/SourceSerif4Variable-Italic-latin.woff")
      format("woff-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* mono - normal/it */
@font-face {
  font-family: "Iosevka Fixed SS04";
  src: url("/fonts/iosevka-fixed-ss04-light.woff2") format("woff2"),
    url("/fonts/iosevka-fixed-ss04-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Iosevka Fixed SS04";
  src: url("/fonts/iosevka-fixed-ss04-lightitalic.woff2") format("woff2"),
    url("/fonts/iosevka-fixed-ss04-lightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Iosevka Fixed SS04";
  src: url("/fonts/iosevka-fixed-ss04-regular.woff2") format("woff2"),
    url("/fonts/iosevka-fixed-ss04-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Iosevka Fixed SS04";
  src: url("/fonts/iosevka-fixed-ss04-italic.woff2") format("woff2"),
    url("/fonts/iosevka-fixed-ss04-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* mono - bold/it */
@font-face {
  font-family: "Iosevka Fixed SS04";
  src: url("/fonts/iosevka-fixed-ss04-semibold.woff2") format("woff2"),
    url("/fonts/iosevka-fixed-ss04-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Iosevka Fixed SS04";
  src: url("/fonts/iosevka-fixed-ss04-semibolditalic.woff2") format("woff2"),
    url("/fonts/iosevka-fixed-ss04-semibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Iosevka Fixed SS04";
  src: url("/fonts/iosevka-fixed-ss04-bold.woff2") format("woff2"),
    url("/fonts/iosevka-fixed-ss04-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Iosevka Fixed SS04";
  src: url("/fonts/iosevka-fixed-ss04-bolditalic.woff2") format("woff2"),
    url("/fonts/iosevka-fixed-ss04-bolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
