@use "./variables.scss" as *;

body {
  width: min(100%, calc($largest-tablet-width - $scrollbar-width));
  overflow-x: hidden;
  margin-inline: auto;
}

/* header and footer */
header {
  position: fixed;
  left: 0.5rem;
  z-index: 9999;

  animation: fadeOut 5s ease-in-out forwards;
}
@keyframes fadeOut {
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* body text and aside */
#content {
  min-height: 100vh;
  margin: 0 1.5rem;
  padding: 3rem 0 25vh 0;

  border: 1px solid var(--border-gray); // temporary

  @include tablet {
    position: relative;
    margin-right: 1.5rem;
    margin-left: $large-aside-width + $side-gap;
  }
}

aside,
.small-text {
  font-size: 0.85rem;
  @include font-weight(300);

  strong {
    @include font-weight(500);
  }
}

aside,
.note {
  margin: 1rem 0;
  padding: 0.5rem;

  border: 1px solid var(--border-gray);
  border-left-width: 3px;
  background-color: var(--background-gray);

  > *:last-child {
    margin-bottom: 0;
  }
}
aside,
.aside {
  @include tablet {
    position: relative;
    float: left;
    clear: left;

    width: $aside-width;
    margin: 0;
    margin-left: -$aside-width - $side-gap;
    margin-bottom: 1em;
    padding: 0;

    text-align: right;
    border: none;
    background-color: initial;
  }

  @include desktop-large {
    margin-left: -$large-aside-width - $side-gap;
    width: $large-aside-width;
  }
}
aside,
.aside.small-text {
  @include tablet {
    top: 0.15rem; // vertical align with paragraph
  }
}

/* lists */
:is(ul, ol) li {
  margin: 0 0 0.25rem 2.5rem;
  display: block;
  list-style-type: none;

  &::before {
    position: absolute;
    margin-left: -2.5rem;
    @include font-weight(600);
  }
}

ul {
  li::before {
    content: "\00BB";
  }
  li li::before {
    content: "\203A";
  }
}

ol {
  counter-reset: lis;

  li::before {
    counter-increment: lis;
    content: counter(lis) ". ";

    font-variant-numeric: oldstyle-nums;
    font-style: italic;
  }
  li li::before {
    content: counter(lis, lower-alpha) ". ";
  }
}

/* figures */
figure {
  margin-bottom: 1rem;

  display: flex;
  flex-direction: column-reverse;

  figcaption {
    margin-top: 0.25rem;
  }

  .bordered {
    border: 1px solid var(--border-gray);
    padding: 0.5rem;
  }

  @include tablet {
    display: block;
  }
}

/* codeblocks */
.codeblock {
  position: relative;

  margin: 1rem 0;

  font-size: 0.85rem;
  line-height: 1.3;
}
.code-path {
  padding: 0.125rem 0 0 0.5rem;

  font-family: "Source Serif Variable", serif;
  font-size: 1em;
  font-style: italic;
  font-weight: 500 * $dark-mode-correction;

  color: #8b949e;
  background-color: #010203;
}
.code-container {
  overflow-x: auto;
  overflow-y: hidden;
}

// horizontal padding without line numbers
.highlight pre {
  padding: 0 1rem;
}
// horizontal padding with line numbers
.lntable pre {
  padding: 0;

  .line {
    padding-right: 1rem;
  }
}
// make table width equal to the container to fix the highlighted lines
.chroma .lntd:first-child {
  width: 1%;
}

.code-copy {
  position: absolute;
  top: 0.125rem;
  right: 0.5rem;
  padding: 0.1em;

  color: #8b949e;
  background-color: transparent;
  border: none;

  :hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  :active {
    background-color: rgba(255, 255, 255, 0.4);
  }

  img {
    height: 0.8em;
    fill: green;
  }
}
