@use "./variables.scss" as *;

body {
  width: min(100%, calc($largest-tablet-width - $scrollbar-width));
  overflow-x: hidden;
  margin-inline: auto;
}

/* metadata */
.title-block {
  margin-bottom: 2rem;
}
.subtitle-block {
  font-style: italic;
  @include font-weight(300);

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0;
  }

  p {
    margin: 0;
  }
}

/* body text and aside */
#content {
  min-height: 100vh;
  margin: 0 1.5rem;
  padding: 3rem 0 15vh 0;

  @include tablet {
    position: relative;
    margin-right: 1.5rem;
    margin-left: $large-aside-width + $side-gap;
  }
}
article {
  padding-bottom: 5rem;
}

aside,
.small-text {
  font-size: 0.85rem;
  @include font-weight(300);

  strong {
    @include font-weight(500);
  }
}

aside,
.note {
  margin: 1rem 0;
  padding: 0.5rem;

  border: 1px solid var(--border-gray);
  border-left-width: 3px;
  background-color: var(--background-gray);

  > *:last-child {
    margin-bottom: 0;
  }
}
aside,
.aside {
  @include tablet {
    position: relative;
    float: left;
    clear: left;

    width: $aside-width;
    margin: 0;
    margin-left: -$aside-width - $side-gap;
    margin-bottom: 1em;
    padding: 0;

    text-align: right;
    border: none;
    background-color: initial;
  }

  @include desktop-large {
    margin-left: -$large-aside-width - $side-gap;
    width: $large-aside-width;
  }
}
aside,
.aside.small-text {
  @include tablet {
    top: 0.15rem; // vertical align with paragraph
  }
}

/* fullwidth elements */
.fullwidth {
  @include tablet {
    position: relative;
    clear: both;
    margin-left: -$aside-width - $side-gap;
  }
  @include desktop-large {
    margin-left: -$large-aside-width - $side-gap;
  }
}

/* lists */
article :is(ul, ol) li,
.fancy-list li {
  margin: 0 0 0.25rem 2.5rem;

  &::before {
    position: absolute;
    margin-left: -2.5rem;
    @include font-weight(600);
  }
}

article ul,
ul.fancy-list {
  li::before {
    content: "\00BB";
  }
  li li::before {
    content: "\203A";
  }
}

article ol,
ol.fancy-list {
  counter-reset: lis;

  li::before {
    counter-increment: lis;
    content: counter(lis) ". ";

    font-variant-numeric: oldstyle-nums;
    font-style: italic;
  }
  li li::before {
    content: counter(lis, lower-alpha) ". ";
  }
}

/* figures */
figure {
  margin-bottom: 1rem;

  display: flex;
  flex-direction: column-reverse;

  figcaption {
    margin-top: 0.25rem;
  }

  .bordered {
    border: 1px solid var(--border-gray);
    padding: 0.5rem;
  }

  @include tablet {
    display: block;
  }
}

/* pager */
.fancy-list {
  margin-bottom: 1rem;
}
.prev-next {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  gap: 1rem;

  @include small-caps;
  color: var(--text-gray);

  .prev {
    text-align: left;
  }
  .next {
    text-align: right;
  }
}
.meta {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;

  .date {
    margin: 0;
  }
}
.tags {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.5rem;

  font-style: italic;
}
