@use "./variables.scss" as *;

/* NOTE */
.note-gray {
  border-color: var(--border-gray);
  background-color: var(--background-gray);
  color: var(--text-gray);
}
.note-gold {
  border-color: var(--border-gold);
  background-color: var(--background-gold);
  color: var(--text-gold);
}
.note-accent {
  border-color: var(--border-accent);
  background-color: var(--background-accent);
  color: var(--text-accent);
}
.note-title {
  text-transform: capitalize;
  font-style: italic;

  @include font-weight(400);

  &::after {
    content: ".";
  }

  @include tablet {
    font-size: 1rem;
    @include small-caps;
    @include font-weight(500);

    top: -0.15rem;

    &::after {
      content: "";
    }
  }
}

/* SMALL-CAP */
.small-caps {
  @include small-caps;
}
