@use "./variables.scss" as *;

.boxed {
  margin: 1rem 0;
  padding: 0.5rem;

  border: 1px solid var(--hr-color);
  border-left-width: 3px;
  background-color: var(--background-accent-color);

  font-size: 0.85rem;
  @include font-weight(300);

  & > *:last-child {
    margin-bottom: 0;
  }
}

.note-title {
  text-transform: capitalize;
  font-style: italic;

  @include font-weight(400);

  &:after {
    content: ".";
  }

  @include tablet {
    position: absolute;
    left: -$aside-width - $side-gap;
    width: $aside-width;

    transform: translate(0, -0.15rem);
    text-align: right;

    font-size: 1rem;
    @include small-caps;
    @include font-weight(500);

    &:after {
      content: "";
    }
  }
}

.small-caps {
  @include small-caps;
}
