@import "variables";
@import "section";

/* buttons */
.tufte-container button {
  padding: 0 0.5rem;
  background: var(--details-background);
  border: 1px solid var(--text-color);
  border-radius: 0.25rem;
  cursor: pointer;

  font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 1em;
  color: var(--text-color);
}

/* Searchbox */
.ais-SearchBox {
  width: var(--p-width);
  margin: 3rem 0 1.4rem 0;

  .ais-SearchBox-form {
    display: flex;
    width: 100%;

    .ais-SearchBox-input {
      flex: 1;
      padding: 0 0 0 0.5rem;
      margin-right: 0.5rem;
      border: 1px solid var(--text-color);
      border-radius: 0.25rem;

      font-family: "PT Serif", serif;
      font-size: 1.2rem;
      line-height: 1.85rem;
      font-style: italic;
    }
  }
}

/* Refinement list */
.ais-RefinementList {
  margin: 1.4rem 0;

  label {
    cursor: pointer;

    span {
      color: var(--hypertext-color);
      text-decoration: underline;
    }
  }
}
