/* site-wide configurations */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  max-width: 100%;
  overflow-x: hidden;

  --background-color: #111;

  &.light-theme {
    --primary-color: #e60073;
    --background-color: #fffff8;
    --text-color: #111;
    --hypertext-color: #00008c;
    --hr-color: #ccc;
    --details-background: #f3f3e6;

    --mainnav-background: #111;
    --mainnav-text: #fffff8;
    --mainnav-logo: #ff66b3;

    --hljs-color: #4d4d4c;
    --hljs-comment: #8e908c;
    --hljs-name: #c82829;
    --hljs-meta: #f5871f;
    --hljs-attribute: #eab700;
    --hljs-string: #718c00;
    --hljs-title: #4271ae;
    --hljs-keyword: #8959a8;
  }

  &.dark-theme {
    --primary-color: #ff66b3;
    --background-color: #111;
    --text-color: #fffff8;
    --hypertext-color: #9999ff;
    --hr-color: #666;
    --details-background: #1d1f21;

    --mainnav-background: #111;
    --mainnav-text: #fffff8;
    --mainnav-logo: #ff66b3;

    --hljs-color: #4d4d4c;
    --hljs-comment: #969896;
    --hljs-name: #cc6666;
    --hljs-meta: #de935f;
    --hljs-attribute: #f0c674;
    --hljs-string: #b5bd68;
    --hljs-title: #81a2be;
    --hljs-keyword: #b294bb;

    img {
      filter: brightness(0.8) contrast(1.2);
    }

    div.box-desmos {
      filter: invert(0.9);
    }
  }
}

body {
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
  overflow-y: hidden;
}

main {
  padding-top: 3rem; // Allow space for mainnav
}
