// highlight.js css setup
// style "Tomorrow" for the light theme, "Tomorrow Night" for the dark theme
html {
  &.light-theme {
    --hljs-color: #4d4d4c;
    --hljs-comment: #8e908c;
    --hljs-name: #c82829;
    --hljs-meta: #f5871f;
    --hljs-attribute: #eab700;
    --hljs-string: #718c00;
    --hljs-title: #4271ae;
    --hljs-keyword: #8959a8;
  }

  &.dark-theme {
    --hljs-color: #4d4d4c;
    --hljs-comment: #969896;
    --hljs-name: #cc6666;
    --hljs-meta: #de935f;
    --hljs-attribute: #f0c674;
    --hljs-string: #b5bd68;
    --hljs-title: #81a2be;
    --hljs-keyword: #b294bb;
  }
}

.hljs-comment,
.hljs-quote {
  color: var(--hljs-comment);
}

.hljs-deletion,
.hljs-name,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-id,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
  color: var(--hljs-name);
}
.hljs-built_in,
.hljs-builtin-name,
.hljs-link,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-params,
.hljs-type {
  color: var(--hljs-meta);
}
.hljs-attribute {
  color: var(--hljs-attribute);
}
.hljs-addition,
.hljs-bullet,
.hljs-string,
.hljs-symbol {
  color: var(--hljs-string);
}
.hljs-section,
.hljs-title {
  color: var(--hljs-title);
}
.hljs-keyword,
.hljs-selector-tag {
  color: var(--hljs-keyword);
}
.hljs {
  display: block;
  overflow-x: auto;
  background: var(--details-background);
  color: var(--hljs-color);
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}

pre > code.language-filename {
  color: var(--primary-color);
  font-style: italic;
  text-decoration: underline;
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
