/*
    Color theme: a11y-syntax-highlighting 
    https://github.com/ericwbailey/a11y-syntax-highlighting
*/
html {
  &.light-theme {
    --hljs-bg: #fefefe;
    --hljs-color: #545454;
    --hljs-comment: #696969;
    --hljs-name: #d91e18;
    --hljs-number: #aa5d00;
    --hljs-attribute: #aa5d00;
    --hljs-string: green;
    --hljs-title: #007faa;
    --hljs-keyword: #7928a1;
  }

  &.dark-theme {
    --hljs-bg: #2b2b2b;
    --hljs-color: #f8f8f2;
    --hljs-comment: #d4d0ab;
    --hljs-name: #ffa07a;
    --hljs-number: #f5ab35;
    --hljs-attribute: #ffd700;
    --hljs-string: #abe338;
    --hljs-title: #00e0e0;
    --hljs-keyword: #dcc6e0;
  }
}

pre code {
  padding: 3px 5px;
  color: var(--hljs-color);
  border: 2px solid var(--hljs-color);

  &.hljs {
    display: block;
    overflow-x: auto;
    background: var(--hljs-bg) !important;
    padding: 1em;
  }
  &.language-filename {
    display: inline-block;
    padding: 0.2rem 1rem;
    border-bottom: none;
    color: var(--primary-color);
    font-style: italic;
    text-decoration: underline;
  }
}

.hljs-comment,
.hljs-quote {
  color: var(--hljs-comment);
}
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: var(--hljs-name);
}
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: var(--hljs-number);
}
.hljs-attribute {
  color: var(--hljs-attribute);
}
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: var(--hljs-string);
}
.hljs-section,
.hljs-title {
  color: var(--hljs-title);
}
.hljs-keyword,
.hljs-selector-tag {
  color: var(--hljs-keyword);
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}

@media screen and (-ms-high-contrast: active) {
  .hljs-addition,
  .hljs-attribute,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-bullet,
  .hljs-comment,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-string,
  .hljs-symbol,
  .hljs-type,
  .hljs-quote {
    color: highlight;
  }

  .hljs-keyword,
  .hljs-selector-tag {
    font-weight: bold;
  }
}
