/* page footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 3rem auto 1rem auto;

  text-align: center;
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD",
    "Book Antiqua", Georgia, serif;
  font-style: italic;
  font-size: 1.2rem;

  a:link,
  a:visited {
    color: var(--hypertext-color);
  }
}

/* MathJax styling */
mjx-container {
  box-sizing: default;
  overflow-y: hidden;
  padding: 1px 0 !important;
  font-variant: normal !important;

  mjx-math {
    overflow-y: visible;
  }

  &[display="true"] {
    overflow-x: auto;
  }

  .mathjax-highlight {
    color: var(--primary-color) !important;
  }
}

/* Exercise pages */
.qna-box {
  @include set-tufte-width;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid var(--text-color);

  #answer-buttons {
    display: inline-block;
  }

  #params {
    line-height: 1.75;
  }

  #answer-control {
    margin-bottom: 1.5rem;
  }

  input[type="number"] {
    -webkit-appearance: none;
    font-size: 0.85em;
    padding: 0 0.5rem;
    width: 4rem;
    text-align: right;
  }

  input[type="checkbox"] {
    margin: 0 0.5rem;
    transform: scale(1.4);
    vertical-align: middle;
  }

  button {
    padding: 0 0.5rem;
    background: var(--details-background);
    border: 1px solid var(--text-color);
    border-radius: 0.25rem;
    cursor: pointer;

    font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
    font-size: 0.85em;
    color: var(--text-color);
  }

  details {
    vertical-align: text-top;

    summary {
      margin-bottom: 0.2em;
      color: var(--text-color);
      font-variant: normal;
      font-size: 1.3rem;
      font-weight: 400;

      list-style: none;
      &::-webkit-details-marker {
        display: none;
      }
    }
  }
}
