@import "variables";

/* Exercise pages */
.qna-box {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid var(--text-color);

  #answer-buttons {
    display: inline-block;
  }

  #params {
    line-height: 1.75;
  }

  #answer-control {
    margin-bottom: 1.5rem;
  }

  input[type="number"] {
    -webkit-appearance: none;
    font-size: 0.85em;
    padding: 0 0.5rem;
    width: 4rem;
    text-align: right;
  }

  input[type="checkbox"] {
    margin: 0 0.5rem;
    transform: scale(1.4);
    vertical-align: middle;
  }

  button {
    padding: 0 0.5rem;
    background: var(--details-background);
    border: 1px solid var(--text-color);
    border-radius: 0.25rem;
    cursor: pointer;

    font-family: var(--serif-font);
    font-size: 0.85em;
    color: var(--text-color);
  }

  details {
    vertical-align: text-top;

    summary {
      margin-bottom: 0.2em;
      color: var(--text-color);
      font-variant: normal;
      font-size: 1.3rem;
      font-weight: 400;

      list-style: none;
      &::-webkit-details-marker {
        display: none;
      }
    }
  }
}
