@import "variables";

/* style for section pages */
.section-pages {
  .date {
    position: absolute;
    margin-left: -10rem;
    margin-top: 0;
    padding: 0.4rem 0;
    width: 6rem;

    text-align: right;
    font-size: 1.2rem;
    font-style: italic;
  }

  ul.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

    list-style: none;

    li.page-item {
      margin: 0 0.5rem;

      a {
        color: var(--text-color);
      }
    }
    li.disabled a {
      color: var(--hr-color);
      text-decoration: none;
    }
    li.active a {
      color: var(--primary-color);
      text-decoration: none;
    }
  }
}

.section-pages-tag {
  display: grid;
  grid-template-columns: 3rem auto;
  align-items: baseline;

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: baseline;
    line-height: 1.5;
  }
  li {
    margin-top: 0 !important;
    margin-right: 1em;
  }
  .key {
    font-style: italic;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1;
  }
}

@media screen and (max-width: $lmobile-max) {
  .pager {
    width: 100%;
  }

  .section-page-post {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;

    .date {
      position: relative;
      margin: 0;
      padding: 0;
      width: auto;

      text-align: right;
      text-align: left;
    }
  }
}
