@import "variables";

// Gallery for figures
.gallery-container {
  display: grid;
  grid-gap: 0.5rem;

  align-items: center;
}
.gallery-2 {
  grid-template-columns: repeat(2, 1fr);
}
.gallery-3 {
  grid-template-columns: repeat(3, 1fr);
}
.gallery-4 {
  grid-template-columns: repeat(4, 1fr);
}

// Boxed content
.box {
  max-width: 100%;
  border: 1.5px solid var(--hr-color);
  padding: 1rem 0.5rem;
  margin: $leading 0;

  & > *:first-child {
    margin-top: 0;
  }
}
// box for Desmos
.box-desmos {
  @extend .box;
  padding: 0;
  margin-bottom: 3rem;
  border: none;
  width: 100%;

  .dark-theme & {
    filter: invert(0.9);
  }
}

// half-bordered box
.box-hb {
  border: none;
  border-left: 1.5px solid var(--hr-color);
  padding: 0 0 0 0.5rem;

  &::after {
    content: "";
    display: block;
    margin-top: 0.5rem;
    margin-right: auto;
    margin-left: -0.5rem;
    width: 2.5rem;
    border-bottom: 1.5px solid var(--hr-color);
  }
}

// Customised list
.custom-li:not(:last-child) {
  margin-bottom: $leading;
}

// Enum environment
.enum-box {
  margin: $leading 0;
  display: grid;
  grid-template-columns: 3rem 1fr;
  justify-content: top;

  .enum-title {
    font-family: var(--serif-font);
    font-weight: bold;
    font-style: italic;
    margin-right: 0.35rem;
    text-align: right;

    &::after {
      content: ".";
    }
  }

  .enum-content {
    min-width: 0;

    & > *:first-child {
      margin-top: 0;
    }
  }
}
@media screen and (max-width: 1200px) {
  .enum-box {
    width: 90%;
  }
}

// Noted content
.note {
  font-family: var(--serif-font);
  font-weight: bold;
  font-style: italic;
  margin-right: 0.5rem;
}

/* Shortcode - details */
.content-container details {
  margin-bottom: 1.4rem;

  summary {
    color: var(--hypertext-color);
    font-family: var(--serif-font);
    font-weight: bold;
    font-style: italic;
    font-size: 1.2rem;
    cursor: pointer;
  }

  div.details-box {
    background-color: var(--details-background);
    position: relative;
    padding: 1px 0;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: -50vw;
      right: -50vw;
      background-color: var(--details-background);
      z-index: -1;
    }

    div.details-content {
      margin: 1.4rem 0;
    }

    code:not(pre *) {
      background-color: var(--background-color);
    }
  }
}

// tabs
.tab-container {
  margin: 1.4rem 0;
}

.tab-nav {
  display: flex;
  border-bottom: 1px solid var(--hr-color);
  font-size: 0.9em;
}
.tab-button {
  padding: 0 0.5rem;
  border: none;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  
  background: transparent;
  color: inherit;
  
  cursor: pointer;

  &:hover {
    background: var(--hr-color);
  }
  &:active {
    background: var(--hr-color);
    opacity: 0.9;
  }
  &.active {
    color: var(--primary-color);
    font-weight: bold;
  }
}

.tab-item {
  display: none;

  &.active {
    display: block;
  }

  & > *:first-child {
  margin-top: 0.2rem;
  }
  & > *:last-child {
  margin-bottom: 0.6rem;
  }

  // remove expanding for code blocks
  .code-container:hover,
  .code-container:focus {
    min-width: 100%;
  }
}