@import "variables";

// Gallery for figures
.gallery-container {
  display: grid;
  grid-gap: 0.5rem;

  align-items: center;
}
.gallery-2 {
  grid-template-columns: repeat(2, 1fr);
}
.gallery-3 {
  grid-template-columns: repeat(3, 1fr);
}
.gallery-4 {
  grid-template-columns: repeat(4, 1fr);
}

// Boxed content
.box {
  max-width: 100%;
  border: 1.5px solid var(--hr-color);
  padding: 1rem 0.5rem 0 0.5rem;

  p:first-child {
    margin-top: 0;
  }

  // box for Desmos
  &-desmos {
    @extend .box;
    padding: 0;
    margin-bottom: 3rem;
    border: none;
  }

  .box-desmos {
    width: 100%;
  }
}

// half-bordered box
.box-hb {
  max-width: 100%;
  border-left: 1.5px solid var(--hr-color);
  padding: 0 0 0 0.5rem;

  & + &,
  & + figure {
    margin-top: 1.4rem;
  }
  & > *:first-child {
    margin-top: 0;
  }

  &::after {
    content: "";
    display: block;
    margin-top: 0.5rem;
    margin-right: auto;
    margin-left: -0.5rem;
    width: 2.5rem;
    border-bottom: 1.5px solid var(--hr-color);
  }
}

// Customised list
.custom-li:not(:last-child) {
  margin-bottom: 1.4rem;
}

// Enum environment
.enum-box {
  margin: 1.4rem 0;
  display: grid;
  grid-template-columns: 3rem 1fr;
  justify-content: top;

  .enum-title {
    font-family: "PT Serif", serif;
    font-weight: bold;
    font-style: italic;
    margin-right: 0.35rem;
    text-align: right;

    &::after {
      content: ".";
    }
  }

  .enum-content {
    min-width: 0;

    & > *:first-child {
      margin-top: 0;
    }
  }
}
@media screen and (max-width: 1200px) {
  .enum-box {
    width: 90%;
  }
}

// Noted content
.note {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-style: italic;
  margin-right: 0.5rem;
}

/* Shortcode - details */
details {
  margin-bottom: 1.4rem;

  summary {
    color: var(--hypertext-color);
    font-family: "PT Serif", serif;
    font-style: italic;
    font-size: 1.2rem;
    cursor: pointer;
  }

  div.details-content {
    background-color: var(--details-background);
    position: relative;
    padding: 1px 0;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: -100%;
      right: -100%;
      background-color: var(--details-background);
      z-index: -1;
    }

    & > ol:first-child,
    & > ul:first-child {
      margin-top: 1.4rem;
    }

    code {
      background-color: var(--background-color);
    }
  }
}
