@import "variables";

.tufte-container {
  width: auto;
  margin-left: 20rem;
  margin-bottom: 5rem;
  padding: 2rem 0 0 1rem;

  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1.3rem;
  line-height: 1.4;

  counter-reset: sidenote-counter;

  h1 {
    font-family: "PT Serif", serif;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2.7rem;
    line-height: 1;
    letter-spacing: -0.02em;
  }

  h2 {
    font-family: "PT Serif", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 2.1rem;
    padding-top: 2rem;
    margin-top: 2.1rem;
    margin-bottom: 1.3rem;
    line-height: 1;
    letter-spacing: -0.01em;
  }

  h3 {
    font-family: "PT Serif", serif;
    font-style: italic;
    text-decoration: underline;
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1;
    letter-spacing: -0.01em;
  }

  h1,
  h2,
  h3 {
    code {
      font-style: normal;
      color: inherit;
      background-color: inherit;
      -webkit-text-size-adjust: 100%;
    }
  }

  hr {
    display: block;
    clear: both;
    height: 1px;
    width: var(--p-width);
    border: 0;
    border-top: 1px solid var(--hr-color);
    margin: 1em 0;
    padding: 0;
  }

  p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline;

    &.subtitle {
      font-style: italic;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
      display: block;
      line-height: 1.1;
    }
  }

  p,
  footer,
  table {
    width: var(--p-width);
  }

  dl,
  ol,
  ul {
    margin-bottom: 1.4rem;
    width: var(--p-width);
    padding-left: 2rem;
    -webkit-padding-start: 2rem;

    dl,
    ol,
    ul,
    p {
      width: 100%;
    }
  }

  ol,
  ul {
    li::marker {
      font-style: italic;
      font-weight: bold;
      font-family: "PT Serif", serif;
    }
  }
  ul ol,
  ol ol {
    list-style-type: lower-alpha;
  }

  dt:not(:first-child),
  li:not(:first-child) {
    margin-top: 0.25rem;
  }

  /* Blockquotes */
  blockquote {
    p {
      margin-right: 2rem;
    }

    footer {
      font-size: 1.2rem;
      text-align: right;
    }
  }

  /* Figures */
  figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: var(--p-width);
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0;
  }

  figcaption {
    float: right;
    clear: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2rem;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
    max-width: var(--sidenote-width);
  }

  img {
    max-width: 100%;
    height: auto;
  }

  /* Links */
  a:link,
  a:visited {
    color: var(--hypertext-color);
  }

  /* Sidenotes, margin notes */
  .sidenote,
  .marginnote {
    float: right;
    clear: right;
    margin-right: calc(
      (-1 * var(--sidenote-width)) + (-1 * var(--sidenote-margin))
    );
    width: var(--sidenote-width);
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
  }

  .sidenote-number {
    counter-increment: sidenote-counter;
  }

  .sidenote-number:after,
  .sidenote:before {
    font-family: "PT Serif", serif;
    font-size: 80%;
    color: var(--primary-color);
    position: relative;
    vertical-align: baseline;
    font-weight: bold;
  }

  .sidenote-number:after {
    content: counter(sidenote-counter);
    top: -0.5rem;
    left: 0rem;
  }

  .sidenote:before {
    content: counter(sidenote-counter) " ";
    top: -0.5rem;
  }

  /* Fullwidth */
  figure.fullwidth {
    max-width: var(--full-width);
    clear: both;

    display: flex;
    flex-flow: column-reverse nowrap;

    .marginnote {
      align-self: flex-end;
      margin-right: 0;
    }
  }

  .fullwidth {
    width: var(--full-width);
    clear: both;
  }

  /* Codes */
  code {
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.9em;
    line-height: 1.4;
    color: var(--primary-color);
    background-color: var(--details-background);
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
  }

  pre {
    width: var(--p-width);
    overflow-x: auto;
    overflow-y: hidden;

    & > code {
      color: inherit;
      padding: 1rem;
    }

    &:hover,
    &:focus {
      min-width: min-content;
    }
  }

  /* List of tags */
  .tags {
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    align-items: baseline;

    font-size: 1.2rem;

    li {
      margin-right: 0.5rem;
      font-style: italic;

      &:first-child:before {
        content: "Tags: ";
      }
      &:not(:last-child):after {
        content: ", ";
      }

      a {
        padding: 0;

        font-weight: 400;
      }
    }
  }

  /* Table */
  table {
    border-collapse: collapse;

    tr:hover {
      background-color: var(--details-background);
    }

    th,
    td {
      padding: 0.1rem 0.2rem;
      text-align: right;

      &:first-child {
        text-align: left;
      }
    }

    thead {
      border-top: 3px solid var(--text-color);
      border-bottom: 1.5px solid var(--text-color);
    }
    tbody {
      border-bottom: 3px solid var(--text-color);
    }
  }

  /* Other stuff */
  div.table-wrapper {
    overflow-x: auto;
  }

  span.newthought {
    font-variant: small-caps;
  }

  .noted,
  .enum {
    font-family: "PT Serif", serif;
    font-weight: bold;
    font-style: italic;
    margin-right: 0.5rem;

    &::after {
      content: ".";
    }
  }

  input.margin-toggle {
    display: none;
  }

  label.sidenote-number {
    display: inline;
  }

  label.margin-toggle:not(.sidenote-number) {
    display: none;
  }

  .iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }

  .iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Breadcrumbs */
  ol.breadcrumb {
    padding: 0.5rem 0;
    margin-left: 0;

    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: baseline;

    li {
      display: inline;
      white-space: nowrap;
    }

    li + li:before {
      content: ">";
      padding: 0.3rem;
    }
  }
}

@media screen and (max-width: $lmobile-max) {
  .tufte-container {
    padding: 1rem 8% 0 8%;
    margin: 0;
    margin-bottom: 5rem;

    pre {
      &:hover,
      &:focus {
        min-width: 100%;
        max-width: 100%;
      }
    }

    dl,
    ol,
    ul {
      width: 90%;
    }

    figcaption,
    figure.fullwidth figcaption {
      margin-right: 0%;
      max-width: none;
    }

    figure.fullwidth {
      display: block;
    }

    blockquote {
      margin-left: 1.5em;
      margin-right: 0em;

      p,
      footer {
        width: 100%;
      }
    }

    label.margin-toggle:not(.sidenote-number) {
      color: var(--primary-color);
      display: inline;
    }

    label.toggle-with-word {
      text-transform: capitalize;
      font-variant: small-caps;
      font-size: 1.1rem;
      padding: 0 0.2rem;
      border: 1px solid var(--primary-color);
    }

    .sidenote,
    .marginnote {
      display: none;
      margin-bottom: 0;

      img {
        max-width: 60%;
        margin: auto;
        margin-bottom: 0.5em;
        display: block;
      }
    }

    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
      display: block;
      float: none;
      left: 1rem;
      clear: both;
      width: 95%;
      margin: 1rem 2.5%;
      position: relative;
    }

    label {
      cursor: pointer;
    }

    div.table-wrapper,
    table {
      width: 100%;
    }
  }
}

@media screen and (max-width: $smobile-max) {
  .tufte-container {
    padding: 1rem 2.5% 0 2.5%;
  }
}

.section-pages {
  h2 {
    font-size: 1.7rem;
    margin-bottom: 0.8rem;
    padding-top: 0;
  }
}
