// Media queries
$sdesktop-max: 1600px;
$lmobile-max: 1200px;
$smobile-max: 768px;

html {
  --content-width: 55rem;
  --sidenote-width: 25rem;
  --full-width: 82rem;
  --sidenote-margin: 2rem;

  @media (max-width: $sdesktop-max) {
    --content-width: 42rem;
    --sidenote-width: 15rem;
    --full-width: 59rem;
    --sidenote-margin: 1rem;
  }

  @media screen and (max-width: $lmobile-max) {
    --content-width: 100%;
    --sidenote-width: 100%;
    --full-width: 100%;
  }
}
