{{ $content := .Inner | $.Page.RenderString }}
{{ $color := .Get "color" | default "gray" }}
{{/* wrap the title with a <span> and append it to the first paragraph */}}
{{ with .Get "title" }}
  {{ $title := print "<p><span class='note-title aside'>" . "</span> " }}
  {{ if hasPrefix $content "<p>" }}
    {{ $content = print $title (strings.TrimPrefix "<p>" $content) }}
  {{ else }}
    {{ $content = print $title "</p>" $content }}
  {{ end }}
{{ end }}

<div class="note note-{{ $color }} small-text">
  {{- $content | safeHTML -}}
</div>