{{- define "main" -}}
{{- $letters := split "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" -}}
{{- $pages := .Pages.ByTitle -}}
{{- $pages_by_letters := dict -}}
{{ range $pages }}
  {{- $page := . -}}
  {{- $first_letter := upper ( substr $page.Name 0 1 ) -}}
  {{- if not (in $letters $first_letter) }}
    {{ $first_letter = "#" }}
  {{ end }}
  {{- $new_list := slice -}}
  {{ with index $pages_by_letters $first_letter }}
    {{- $new_list = . | append $page -}}
  {{ else }}
    {{- $new_list = slice $page -}}
  {{ end }}
  {{- $pages_by_letters = merge $pages_by_letters (dict $first_letter $new_list) -}}
{{ end }}
<div class="content-container">
    {{ partial "breadcrumb" . }}
<main>
    <h1 style="margin-bottom: 3rem">{{ .Title }}</h1>
<article>
    {{ .Content }}
</article>
    {{- $style_options := (dict "targetPath" "section.min.css" "outputStyle" "compressed" "enableSourceMap" true) -}}
    {{- $style := resources.Get "sass/section.scss" | resources.ToCSS $style_options -}}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    <section class="section-pages section-pages-tag">
    {{ range $key, $value := $pages_by_letters }}
    <span class="key">{{ $key }}</span>
    <ul>
        {{- range $value -}}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Name }}</a><sup>{{ len .Pages }}</sup>
        </li>
        {{- end -}}
    </ul>
    {{ end }}
    </section>
</main>
</div>
{{- end -}}