{{- define "main" -}}
<div class="content-container">
    {{ partial "breadcrumb" . }}
<main>
    <h1>{{ .Title | title }}</h1>
<article>
    {{ .Content }}
</article>
    {{- $requires_section := .Page.Params.section | default "true" -}}
    {{- $style_options := (dict "targetPath" "section.min.css" "outputStyle" "compressed" "enableSourceMap" true) -}}
    {{- $style := resources.Get "sass/section.scss" | resources.ToCSS $style_options -}}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    {{ if $requires_section }}
    <section class="section-pages section-pages-post">
    {{- range (.Paginate .Pages.ByDate.Reverse 10).Pages -}}
        <h2>
            <div class="date">({{ .Section }})</div>
            <a href="{{ .RelPermalink }}">{{ .Name }}</a>
        </h2>
        {{ with .Description }}<p class="subtitle">{{ . }}</p>{{ end }}
    {{- end -}}
    {{ template "_internal/pagination.html" . }}
    </section>
    {{- end -}}
</main>a
    {{ partial "pager" . }}
</div>
{{- end -}}