<header>
  <label class="toggle-theme">
    <input type="checkbox" id="theme-toggle" checked="true"/>
    <span class="toggle">Dark</span>
  </label>
</header>

<script>
  const STORAGE_KEY = "dnam-theme";
  const toggle = document.getElementById("theme-toggle");
  const html = document.documentElement;

  const toDark = () => {
    html.classList.add("dark-theme");
    localStorage.setItem(STORAGE_KEY, "dark");
  }
  const toLight = () => {
    html.classList.remove("dark-theme");
    localStorage.setItem(STORAGE_KEY, "light");
  }

  // load theme from localStorage
  const loadTheme = () => {
    const currentTheme = localStorage.getItem(STORAGE_KEY);
    if (currentTheme === "light") {
      toLight();
      toggle.checked = false;
      return;
    }
    if (!window.matchMedia("(prefers-color-scheme: dark)").matches) {
      toLight();
      toggle.checked = false;
    }
  }

  // toggle theme on clicking the checkbox
  const toggleTheme = () => {
    if (html.classList.contains("dark-theme")) {
      toLight();
    } else {
      toDark();
    }
  }

  loadTheme();
  toggle.addEventListener("change", toggleTheme);
  
</script>