{{ $current_page := . }}
{{ $menu_id := "" }}
{{ range $key, $value := .Params.menu }}
  {{ $menu_id = $key }}
{{ end }}
{{/*  menu items  */}}
{{ with (index .Site.Menus $menu_id) }}
  {{ $current_weight := (index $current_page.Params.menu $menu_id).Weight }}
  {{ $current_name := (index $current_page.Params.menu $menu_id).Name | default $current_page.Title }}
  {{ $prev_pages := where .ByWeight.Reverse "Weight" "<" $current_weight }}
  {{ $prev_pages_cropped := first 2 $prev_pages }}
  {{ $next_pages_cropped := first 2 (where .ByWeight "Weight" ">" $current_weight) }}
  {{ $starting_index := sub (len $prev_pages) (len $prev_pages_cropped) }}
  <h3 id="series-posts">Series: {{ humanize $menu_id }}</h3>
  <ol class="menu-posts">
    {{ if ne $starting_index 0 }}
      {{- $first_page := index . 0 -}}
      <li><a href="{{ $first_page.URL }}">{{ $first_page.Name | default $first_page.Title }}</a></li>
      {{ if ne $starting_index 1 }}
        <li class="not-item" style="--counter-set: {{ $starting_index }};">⋯</li>
      {{ end }}
    {{ end }}
    {{ range $prev_pages_cropped.Reverse }}
      <li><a href="{{ .URL }}">{{ .Name | default .Title }}</a></li>
    {{ end }}
      <li><span class="active">{{ $current_name }}</span></li>
    {{ range $next_pages_cropped }}
      <li><a href="{{ .URL }}">{{ .Name | default .Title }}</a></li>
    {{ end }}
    {{ if gt (len .) (add $starting_index 5) }}
      <li class="not-item">⋯</li>
    {{ end }}
  </ol>
{{ end }}
{{/*  related posts  */}}
{{ $related_posts := slice }}
{{ range (index .Params "related-pages") }}
  {{ $related_posts = $related_posts | append (dict "Title" .title "RelPermalink" .url) }}
{{ end }}
{{ $fetched := .Site.RegularPages.Related . }}
{{ if ne $menu_id "" }}
  {{ $fetched = where $fetched "Params.menu" "ne" $menu_id }}
{{ end }}
{{ with first 3 $fetched }}
  {{ $related_posts = $related_posts | append . }}
{{ end }}
{{ with $related_posts }}
  <h3 id="related-posts">Related posts</h3>
  <ul class="related-posts">
    {{ range . }}
      <li>
        {{- if hasPrefix .RelPermalink "http" -}}
          <a href="{{ .RelPermalink }}" target="_blank" rel="noopener noreferrer">{{ .Title | default .RelPermalink }}</a><sup style="font-style: italic">external</sup>
        {{- else -}}
          <a href="{{ .RelPermalink }}">{{ .Title | default .RelPermalink }}</a>
        {{- end -}}
      </li>
    {{ end }}
  </ul>
{{ end }}