{{/* dark theme */}}
<script>
  const STORAGE_KEY = "dnam-theme";
  const toggle = document.getElementById("theme-toggle");
  const status = document.getElementById("theme-status");
  const html = document.documentElement;

  const toDark = () => {
    html.classList.add("dark-theme");
    localStorage.setItem(STORAGE_KEY, "dark");
    status.innerText = "is on.";
  }
  const toLight = () => {
    html.classList.remove("dark-theme");
    localStorage.setItem(STORAGE_KEY, "light");
    status.innerText = "is off.";
  }

  // load theme from localStorage
  const loadTheme = () => {
    const currentTheme = localStorage.getItem(STORAGE_KEY);
    if (currentTheme === "light") {
      toLight();
      toggle.checked = false;
      return;
    }
    if (!window.matchMedia("(prefers-color-scheme: dark)").matches) {
      toLight();
      toggle.checked = false;
    }
  }

  // toggle theme on clicking the checkbox
  const toggleTheme = () => {
    if (html.classList.contains("dark-theme")) {
      toLight();
    } else {
      toDark();
    }
  }

  loadTheme();
  toggle.addEventListener("change", toggleTheme);

</script>

{{/* internal JS files */}}
{{ with resources.Match "js/*.ts" | resources.Concat "js/app.ts" | js.Build (dict "minify" "true") }}
  <script src="{{ .RelPermalink }}"></script>
{{ end }}

{{/* math rendering */}}
{{ if .Params.math }}
  {{ partial "katex" . }}
{{ end }}